@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400);
@font-face {
  font-family: "Next-Light";
  src: url(../fonts/NEXTART_Light.otf);
}
@font-face {
  font-family: "Next-Bold";
  src: url(../fonts/NEXTART_Bold.otf);
}
@font-face {
  font-family: "Next-Heavy";
  src: url(../fonts/NEXTART_Heavy.otf);
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none;
  text-decoration: none !important;
}

@-webkit-keyframes outerRotate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes outerRotate1 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes outerRotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes outerRotate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@-webkit-keyframes BTmenu {
  to {
    transform: scale(1.1);
  }
}
@keyframes BTmenu {
  to {
    transform: scale(1.1);
  }
}
.hide {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  height: auto;
  width: 100%;
  /* Medium Device = 1200px */
  /* Tablet Device = 768px */
  /* Wide Mobile = 480px */
  /* Small Device = 320px */
  /* Medium Device = 1200px */
  /* Tablet Device = 768px */
  /* Wide Mobile = 480px */
  /* Small Device = 320px */
}
body .loader {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #222;
  font-family: "Source Code Pro", monospace;
  overflow: hidden;
  text-align: center;
}
body .loader #ParticulasInside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  width: 50vw;
  height: 75vh;
}
body .loader #ParticulasExter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  width: 100%;
  height: 50%;
  opacity: 0.1;
}
body .loader .ArcoFora {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  width: 38vw;
  height: 71vh;
  border-radius: 50%;
  border: 14px solid #047023;
}
body .loader .ArcoFora:before, body .loader .ArcoFora:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  content: " ";
  background: #222;
}
body .loader .ArcoFora:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  content: " ";
  background: #222;
  width: 100px;
  height: 200%;
  -webkit-animation: outerRotate2 25s infinite linear;
          animation: outerRotate2 25s infinite linear;
}
body .loader .ArcoFora:before {
  width: 110%;
  height: 70px;
  -webkit-animation: outerRotate1 27s infinite linear;
          animation: outerRotate1 27s infinite linear;
}
body .loader .ArcoFora .ArcoMedio {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  width: 29vw;
  height: 55vh;
  border-radius: 50%;
  border: 10px solid #2DBD56;
  z-index: 20;
}
body .loader .ArcoFora .ArcoMedio:after {
  content: " ";
  background: #222;
  width: 100px;
  height: 110%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  -webkit-animation: outerRotate1 15s infinite linear;
          animation: outerRotate1 15s infinite linear;
}
body .loader .ArcoFora .ArcoMedio .ArcoInter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  width: 18vw;
  height: 34vh;
  border-radius: 50%;
  border: 5px solid #87e2a1;
}
body .loader .ArcoFora .ArcoMedio .ArcoInter:before, body .loader .ArcoFora .ArcoMedio .ArcoInter:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-51%, -50%);
  content: " ";
  background: #222;
  z-index: -1;
}
body .loader .ArcoFora .ArcoMedio .ArcoInter:before {
  width: 110%;
  height: 50px;
  -webkit-animation: outerRotate2 5s infinite linear;
          animation: outerRotate2 5s infinite linear;
}
body .loader .ArcoFora .ArcoMedio .ArcoInter:after {
  width: 30px;
  height: 110%;
  -webkit-animation: outerRotate1 8s infinite linear;
          animation: outerRotate1 8s infinite linear;
}
body .loader .palavra {
  margin: auto;
  position: absolute;
  right: 0;
  left: -1.5vw;
  top: 0;
  bottom: 0;
  height: 2.2vw;
  color: #fff;
  font-size: 2.2vw;
  line-height: 2.2vw;
  text-shadow: 0 0 10px #701010, 0 0 5px #701010;
}
body .loader .palavra span {
  display: inline-block;
  transform: translateX(100%) scale(0.9);
  transition: transform 500ms;
}
body .loader .palavra .done {
  color: #BC2D2D;
  transform: translateX(0) scale(1);
}
body .loader .overlay {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: 1000px 2px;
  background-image: linear-gradient(transparent 0%, rgba(10, 16, 10, 0.5) 50%);
}
body #btn_UP {
  position: fixed;
  right: 1vw;
  bottom: 2vh;
  z-index: 99;
}
body #btn_UP img {
  width: 3vw;
}
body header {
  position: fixed;
  box-shadow: 0px 15px 5px -15px #D2D2D2;
  width: 95%;
  margin-left: 2.5%;
  height: 13vh;
  display: flex;
  align-items: center;
  z-index: 99;
  transition: 0.25s ease-in-out;
}
body header .logo {
  transition: 0.3s ease-in-out;
  margin-left: 2.5vw;
}
body header .logo svg {
  transition: 0.3s ease-in-out;
  width: 9vw;
}
body header ul {
  margin-bottom: 0 !important;
  padding: 0 !important;
  box-sizing: content-box !important;
  transition: 0.3s ease-in-out;
  display: flex;
  margin-left: auto;
  margin-right: 2vw;
  height: 5vh;
  width: 28vw;
  justify-content: space-between;
}
body header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
body header ul li a {
  font-family: "Next-Heavy";
  font-size: 1.25vw;
  padding: 0.6vh 0.6vw;
  color: #EEEEEE;
  transition: 0.3s ease-in-out;
}
body header ul li .BTmenu {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-property: color;
  transition-duration: 0.3s;
}
body header ul li .BTmenu::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #BC2D2D;
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  border-radius: 2vw;
}
body header ul li .BTmenu:hover {
  color: #EEEEEE;
  -webkit-animation-name: BTmenu;
          animation-name: BTmenu;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
body header ul li .BTmenu:hover::before {
  transform: scale(1);
}
body header .mobileMenu {
  display: none;
}
body .minus {
  transition: 0.3s ease-in-out;
  margin-left: -1.1vw;
  width: 102%;
  height: 8vh;
  background-color: #323232;
  box-shadow: 0px 15px 10px -15px #D2D2D2;
}
body .minus .logo2 {
  margin-left: 3vw;
  transition: 0.3s ease-in-out;
}
body .minus .logo2 svg {
  transition: 0.3s ease-in-out;
  width: 8vw;
}
body .minus ul {
  margin-right: 4vw;
  transition: 0.3s ease-in-out;
  height: 4vh;
  width: 24vw;
}
body .minus ul li {
  transition: 0.3s ease-in-out;
}
body .minus ul li a {
  transition: 0.3s ease-in-out;
  font-size: 1vw;
}
body #Banner {
  width: 100%;
  height: 100vh;
  background-image: url("../img/Banner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  color: #EEEEEE;
}
body #Banner .ContBanner {
  margin: 23vh 0 0 8vw;
  border-left: 3px solid #D2D2D2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 68vh;
  padding: 5vw;
}
body #Banner .ContBanner .blinking {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: blink 1s steps(2, start) infinite;
          animation: blink 1s steps(2, start) infinite;
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
body #Banner .ContBanner p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 2.2vw;
  font-weight: 700;
  text-shadow: 2px 5px 5px #000000;
  margin-top: -5vh;
}
body #Banner .ContBanner h1 {
  font-family: "Next-Heavy";
  padding: 8vh 0;
  font-size: 3.5vw;
  text-shadow: 2px 5px 5px #000000;
}
body #Banner .ContBanner .SubTitle {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  width: 21vw;
  display: flex;
  align-items: center;
  margin-left: 4vw;
  position: relative;
}
body #Banner .ContBanner .SubTitle::before {
  content: "";
  position: absolute;
  width: 3vw;
  height: 1.5vh;
  left: -4vw;
  background: linear-gradient(90deg, #4D0303 0%, #FC0000 100%);
  border-radius: 9px;
}
body #Projetos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: radial-gradient(61.87% 102.59% at 50% 50%, #FFFFFF 0%, #B4B4B4 100%);
  position: relative;
}
body #Projetos h2 {
  text-align: center;
  color: #BC2D2D;
  font-family: "Next-Heavy";
  font-size: 3vw;
  margin: 7vh 0 5vh;
}
body #Projetos .imgProj {
  display: flex;
  position: relative;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  height: 60vh;
}
body #Projetos .imgProj img {
  width: 35vw;
  border-radius: 2vw;
  height: 35vh;
  box-shadow: 0px 7px 10px #B4B4B4;
  transform: translateY(-5%);
  -webkit-animation: floater 1.9s infinite;
          animation: floater 1.9s infinite;
  transition: ease 0.5s;
}
body #Projetos .imgProj img:hover {
  -webkit-animation: none !important;
          animation: none !important;
}
body #Projetos .imgProj #PrincProj {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 25%;
  width: 40vw;
  height: 40vh;
  -webkit-animation: floater 2s infinite;
          animation: floater 2s infinite;
}
@-webkit-keyframes floater {
  0% {
    transform: translateY(-5%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(5%);
    transition: ease 0.5s;
  }
}
@keyframes floater {
  0% {
    transform: translateY(-5%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(5%);
    transition: ease 0.5s;
  }
}
body #Projetos button {
  position: absolute;
  right: 4vw;
  bottom: 5vh;
  background: #323232;
  border: none;
  font-family: "Next-Bold";
  color: #EEEEEE;
  padding: 1.5vh 1vw;
  font-size: 1.25vw;
  border-radius: 1vw;
  transition: 0.5s ease-in-out;
}
body #Projetos button:hover {
  transform: translateX(0.5vw);
  box-shadow: -10px 15px 10px -15px #323232;
}
body #SobreMim {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
}
body #SobreMim .texto {
  width: 50%;
}
body #SobreMim .texto h2 {
  font-family: "Next-Heavy";
  color: #EEEEEE;
  text-shadow: 2px 5px 5px #000000;
  font-size: 3.3vw;
  margin: 0 0 8vh 2vw;
}
body #SobreMim .texto p {
  font-family: "Lexend Deca", sans-serif;
  color: #EEEEEE;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 2vw;
  width: 75%;
  margin-left: 2vw;
}
body #SobreMim .perfilFT {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #SobreMim .perfilFT img {
  width: 90%;
}
body #SobreMim .blockScroll {
  height: 12vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}
body #SobreMim .blockScroll .scroll {
  width: 100%;
  height: 12vh;
}
body #SobreMim .blockScroll .scroll .marqueeText {
  border-top: 1px solid #D2D2D2;
  border-bottom: 1px solid #D2D2D2;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
body #SobreMim .blockScroll .scroll .marqueeText a {
  height: 100%;
  color: #EEEEEE;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5vw;
  margin: 0 3vw;
  display: flex;
  align-items: center;
}
body #SobreMim .blockScroll .scroll .marqueeText a i {
  font-size: 2vw;
  margin-left: 1vw;
}
body #Contato {
  width: 100%;
  height: 48vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EEEEEE;
  overflow: hidden;
}
body #Contato img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body #Contato h2 {
  font-family: "Next-Heavy";
  font-size: 2vw;
  text-align: center;
}
body #Contato p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
  margin: 5vh 0;
  text-align: center;
}
body #Contato a {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 200;
  font-size: 1.7vw;
  padding: 1vh 2vw;
  border-radius: 2vw;
  border: 2px solid #D2D2D2;
  background: none;
  color: #EEEEEE;
  transition: 0.5s ease-in-out;
}
body #Contato a:hover {
  transform: translateY(-1vh);
  box-shadow: 0px 15px 5px -15px #D2D2D2;
}
body footer {
  border-top: 1px solid #D2D2D2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 18vh;
}
body footer .logoFooter {
  width: 9vw;
}
body footer p {
  font-family: "Next-Light";
  color: #696969;
  margin-top: 2vh;
  font-size: 1vw;
  margin-bottom: 0 !important;
}
body .projetos {
  width: 100%;
  margin-top: 13vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 2vw;
}
body .projetos .carousel {
  width: 48%;
  margin: 3vh 0.9vw;
}
body .projetos .carousel .carousel-inner {
  width: 100%;
  height: 45vh;
  align-items: center;
  border-radius: 2.5vw;
}
body .projetos .carousel .carousel-inner .carousel-item {
  width: 100%;
  height: 100%;
}
body .projetos .carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .projetos .carousel button {
  background-color: none;
  background: none;
  border: none;
}
body .projetos .carousel button .icon {
  width: 5vw;
  height: 4vh;
  margin-top: -5vh;
}
body .projetos .carousel h2 {
  color: White;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  padding: 1.5vh 2vw;
}
@media only screen and (max-width: 479px) {
  body .projetos {
    margin-top: 12vh;
    justify-content: center;
  }
  body .projetos .carousel {
    width: 90%;
    margin: 2vh 0;
  }
  body .projetos .carousel .carousel-inner {
    height: 25vh;
    border-radius: 5vw;
  }
  body .projetos .carousel button .icon {
    margin-top: -5vh;
  }
  body .projetos .carousel h2 {
    font-size: 3.5vw;
    padding: 1vh 4vw;
  }
}
body .portfolio {
  width: 100%;
  margin-top: 13vh;
  color: #EEEEEE;
  padding: 5vh 4vw;
  display: flex;
  flex-direction: column;
}
body .portfolio h1 {
  font-family: "Next-Heavy";
  color: #BC2D2D;
  font-size: 2vw;
  text-shadow: 2px 5px rgb(12, 12, 12);
  margin: 0 auto;
}
body .portfolio p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  padding: 5vh 0;
  font-size: 1.2vw;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}
body .portfolio h2 {
  font-family: "Next-Bold";
  text-align: left;
  font-size: 1.5vw;
  padding: 7vh 0 2vh 11vw;
  position: relative;
}
body .portfolio h2::before {
  content: "";
  width: 108.7%;
  height: 1px;
  background: #EEEEEE;
  position: absolute;
  top: 0;
  margin-left: -15vw;
}
body .portfolio a {
  width: 75%;
  margin: 0 auto 3vh;
}
body .portfolio a img {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #EEEEEE;
  box-shadow: 0 10px 50px -20px black;
}
body .portfolio button {
  background: none;
  margin: 0 auto;
  color: #EEEEEE;
  font-family: "Next-Light";
  font-size: 1.2vw;
  padding: 1vh 2vw;
  border: 2px solid #EEEEEE;
  border-radius: 2vw;
  margin-bottom: 5vh;
  transition: 0.3s ease-in-out;
}
body .portfolio button:hover {
  transform: translateY(-10px);
  font-size: 1.3vw;
}
/*pulse glow*/
::-webkit-scrollbar {
  width: 10px;
  background: #EEEEEE;
}

::-webkit-scrollbar-thumb {
  background: #323232;
}

/* Medium Device = 1200px */
/* Tablet Device = 768px */
/* Wide Mobile = 480px */
/* Small Device = 320px */
@media only screen and (max-width: 479px) {
  body .loader .ArcoFora {
    width: 85vw;
    height: 45vh;
    border-radius: 50%;
    border: 14px solid #047023;
  }
  body .loader .ArcoFora:after {
    width: 100px;
  }
  body .loader .ArcoFora:before {
    width: 120%;
  }
  body .loader .ArcoFora .ArcoMedio {
    width: 65vw;
    height: 35vh;
  }
  body .loader .ArcoFora .ArcoMedio:after {
    height: 110%;
  }
  body .loader .ArcoFora .ArcoMedio .ArcoInter {
    width: 40vw;
    height: 21vh;
  }
  body .loader .ArcoFora .ArcoMedio .ArcoInter:before {
    width: 120%;
  }
  body .loader .ArcoFora .ArcoMedio .ArcoInter:after {
    height: 120%;
  }
  body .loader .palavra {
    left: -2vw;
    font-size: 5vw;
  }
  body #btn_UP {
    right: 2vw;
    bottom: 1vh;
  }
  body #btn_UP img {
    width: 10vw;
  }
  body header {
    height: 12vh;
  }
  body header .logo {
    margin-left: 5vw;
  }
  body header .logo svg {
    width: 30vw;
  }
  body header ul {
    top: -25vh;
    margin: 0;
    height: auto;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    flex-direction: column;
  }
  body header ul li {
    margin: 1vh 0;
  }
  body header ul li a {
    font-family: "Next-Heavy";
    font-size: 5vw;
    padding: 0;
    margin: 1vh 0;
    color: #EEEEEE;
    transition: 0.3s ease-in-out;
  }
  body header ul li:hover a {
    font-size: 5vw;
    padding: 0;
  }
  body header .ativo {
    top: 12vh;
    margin: 0;
    height: auto;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    flex-direction: column;
  }
  body header .ativo li {
    margin: 1vh 0;
  }
  body header .ativo li a {
    font-family: "Next-Heavy";
    font-size: 5vw;
    padding: 0;
    margin: 1vh 0;
    color: #EEEEEE;
    transition: 0.3s ease-in-out;
  }
  body header .ativo li:hover a {
    font-size: 5vw;
    padding: 0;
  }
  body header .mobileMenu {
    display: flex;
    margin-left: auto;
    margin-right: 5vw;
    background: none;
    border: none;
  }
  body header .mobileMenu i {
    font-size: 8vw;
    color: #EEEEEE;
  }
  body .minus {
    height: 9vh;
  }
  body .minus .logo2 {
    margin-left: 8vw;
  }
  body .minus .logo2 svg {
    width: 30vw;
  }
  body .minus ul {
    top: -14vh;
    margin: 0;
    height: auto;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    flex-direction: column;
    background-color: #323232;
  }
  body .minus .ativo {
    top: 8vh;
    margin: 0;
    height: auto;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    flex-direction: column;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }
  body .minus .ativo li {
    margin: 1vh 0;
  }
  body .minus .ativo li a {
    font-family: "Next-Heavy";
    font-size: 4vw;
    padding: 0;
    margin: 1vh 0;
    color: #EEEEEE;
    transition: 0.3s ease-in-out;
  }
  body .minus .ativo li:hover a {
    font-size: 5vw;
    padding: 0;
  }
  body .minus .mobileMenu {
    display: flex;
    margin-left: auto;
    margin-right: 7vw;
    background: none;
    border: none;
  }
  body .minus .mobileMenu i {
    font-size: 8vw;
    color: #EEEEEE;
  }
  body #Banner .ContBanner {
    margin: 23vh 0 0 0;
    justify-content: center;
    align-items: center;
    height: 65vh;
    padding: 0;
    border: none;
    text-align: center;
  }
  body #Banner .ContBanner p {
    font-size: 6vw;
  }
  body #Banner .ContBanner h1 {
    padding: 5vh 0;
    font-size: 7.5vw;
  }
  body #Banner .ContBanner .SubTitle {
    font-size: 5vw;
    width: 70%;
    margin-left: 0;
    text-align: center;
  }
  body #Banner .ContBanner .SubTitle::before {
    display: none;
  }
  body #Projetos h2 {
    font-size: 8vw;
    margin: 5vh 0;
  }
  body #Projetos .imgProj {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    padding: 0;
    height: 75vh;
    align-items: center !important;
    justify-content: center !important;
  }
  body #Projetos .imgProj img {
    border-radius: 5vw;
    width: 65vw;
    height: 21vh;
    margin: 2vh auto;
  }
  body #Projetos .imgProj #PrincProj {
    position: relative;
    bottom: 0;
    left: 0;
    width: 65vw;
    height: 21vh;
    -webkit-animation: floater 1.9s infinite;
            animation: floater 1.9s infinite;
  }
  body #Projetos button {
    right: 4vw;
    bottom: 3vh;
    padding: 1vh 2vw;
    font-size: 3vw;
    border-radius: 2vw;
  }
  body #SobreMim {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: stretch;
  }
  body #SobreMim .texto {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 10vh;
  }
  body #SobreMim .texto h2 {
    color: #EEEEEE;
    text-shadow: 2px 5px 5px #000000;
    font-size: 8vw;
    margin: 0 0 5vh 0;
  }
  body #SobreMim .texto p {
    font-size: 3vw;
    line-height: 3.5vw;
    width: 75%;
    margin: 0;
    padding: 0;
  }
  body #SobreMim .perfilFT {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: -1;
    margin: 1vh 0;
  }
  body #SobreMim .perfilFT img {
    width: 65%;
  }
  body #SobreMim .blockScroll {
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
  body #SobreMim .blockScroll .scroll {
    height: 10vh;
  }
  body #SobreMim .blockScroll .scroll .marqueeText svg {
    width: 6vw;
  }
  body #SobreMim .blockScroll .scroll .marqueeText a {
    font-size: 5vw;
    margin: 0 5vw;
  }
  body #SobreMim .blockScroll .scroll .marqueeText a i {
    font-size: 4.5vw;
    margin-left: 2vw;
  }
  body #SobreMim .blockScroll .scroll .marqueeText a .fa-envelope {
    margin-right: 0;
  }
  body #Contato {
    height: 33vh;
  }
  body #Contato img {
    margin-left: -10%;
    width: 250%;
  }
  body #Contato h2 {
    font-size: 4.5vw;
  }
  body #Contato p {
    font-size: 3vw;
    margin: 4vh 0;
  }
  body #Contato a {
    font-size: 4vw;
    padding: 1vh 3vw;
    border-radius: 5vw;
  }
  body footer {
    height: 15vh;
  }
  body footer .logoFooter {
    width: 30vw;
  }
  body footer p {
    margin-top: 2vh;
    font-size: 3vw;
  }
}/*# sourceMappingURL=style.css.map */