.banner{
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image:url(../Imgs/BannerP.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  .container{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 100px;
  }
}

.blockBanner{
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  color: $White;
  border-left: 2px solid $White-dark;

  h3{
    font-family: "Lexend Deca";
    font-weight: bold;
    font-size: 36px;
    margin-left: 50px;
    text-shadow: 5px 5px 4px rgba(15, 15, 15, 0.65);
  }
  h1{
    font-family: "Next-Heavy";
    font-size: 72px;
    margin-left: 50px;
    padding: 15px 0px;
    text-shadow: 5px 5px 4px rgba(15, 15, 15, 0.75);
  }
  h2{
    font-family: "Lexend Deca";
    font-size: 36px;
    margin-left: 130px;
    text-shadow: 2px 3px 4px rgba(15, 15, 15, 0.7);
  }
  &::before{
    content: '';
    position: absolute;
    background: linear-gradient(270deg, #FF3D3D 0%, #C90202 100%);
    border-radius: 15px; 
    width: 50px;
    height: 15px;
    margin-left: 50px;
    margin-top: 170px;
  }
}
/* Tablet Device = 768px */

@media only screen and (max-width: 991px) {
  .container{
    justify-content: center;
  }
  .blockBanner{
    text-align: center;
    border-left: none;
    h3{margin-left:0px;}
    h1{font-size: 68px;margin-left: 0px;}
    h2{margin-left: 0px;}
    &::before{display: none;}
  }
}
/* Wide Mobile = 480px */

@media only screen and (max-width: 851px
) {
  .blockBanner{
    h1{font-size: 58px;}
    h2{font-size: 24px;}
  }
}








