@import url(https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400);

@font-face{
    font-family: "Next-Light";
    src:url(../../fonts/NEXTART_Light.otf);
}
@font-face{
    font-family: "Next-Bold";
    src:url(../../fonts/NEXTART_Bold.otf);
}
@font-face{
    font-family: "Next-Heavy";
    src:url(../../fonts/NEXTART_Heavy.otf);
    
}


$Red:#BC2D2D;
$DarkRed:#4D0303;

$White:#EEEEEE;
$Black: #323232;

$LightGray:#D2D2D2;
$DarkGray:#B4B4B4;