@font-face{
    font-family: "Next-Light";
    src:url(../fonts/NEXTART_Light.otf);
}
@font-face{
    font-family: "Next-Regular";
    src:url(../fonts/NEXTART_Regular.otf);
}
@font-face{
    font-family: "Next-Bold";
    src:url(../fonts/NEXTART_Bold.otf);
}
@font-face{
    font-family: "Next-Heavy";
    src:url(../fonts/NEXTART_Heavy.otf);
}
/*font-family: "Lexend Deca"*/

$Red:#EA1A1A;
$Red-light:#FF3D3D;
$Red-dark:#C90202;

$Blue: #0EEBC9;
$Blue-light:#30FFDF;
$Blue-dark:#00C9AA;

$Green: #6AEB26;
$Green-light:#88FF4A;
$Green-dark:#4BC908;

$Black: #323232;
$Black-light:#4D4D4D;
$Black-dark: #0F0F0F;

$White:#F7F0F0;
$White-light:#FFF7F7;
$White-dark:#CCC6C6;


/*bases*/

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {}