#projetos_page{
    width: 100%;
    display: flex;
    position: relative;
}
.BlockProjeto{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 80px;
    .cardPr{
        margin: 6vh;
        height: 55vh;
        background-color: $White;
        box-shadow: 0px 50px 100px $Black-dark;
        border-radius: 20px;
        text-decoration: none !important;
        color: $Black !important;
        .CardBack{
            background-color: $White-dark;
            display: flex;
            position: relative;
            height: 35vh;
            margin: 2.5vh 0 0;
            justify-content: center;
            align-items: center;
            img{
                position: absolute;
                width: 12vw;
                height: 22vh;
                transition: .2s ease-in-out;
                &:nth-child(1){
                  left: 12%;
                  top: 30%;
                  z-index: 10;
                }
                &:nth-child(2){
                    z-index: 9;
                }
                &:nth-child(3){
                    right: 12%;
                    top: 5%; 
                }
                &:hover{
                    transform: translateY(-10px);
                }
            }
        }
        .titlePG{
            display: flex;
            position: relative;
            align-items: center;
            text-align: center;
            justify-content: center;
            height: 17vh;
            font-family: "Next-Bold";
            font-size: 1.8vw;
        }
    }
}


