#banner{
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 9.7vw;
    margin-bottom: 5vw;
    #ImgBanner{
        width: 55%;
    }
    .Block{
        background-color: $Green;
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        color: $White;
        text-align: center;
        font-family: 'Raleway';
        svg{
            position: absolute;
            height: 100%;
            left: -24.3vw;
            width: 60%;
        }
        h3{
            font-size: 3.8vw;
            text-transform:uppercase;
            font-weight: 800;
            margin-right: 6vw;
        }
        p{
            width: 60%;
            font-size: 1.4vw;
            line-height: 1.7vw;
            margin:1vw 6vw 3vw 0;
        }
        h1{
            margin-right: 6vw;
            font-weight: 700;
            font-size: 1.6vw;
        }
    }
}
/* Wide Mobile = 480px */
@media only screen and (max-width: 767px){
    #banner{
        flex-wrap: wrap;
        padding-top:28vw;
        margin: 0;
        overflow: hidden;
        #ImgBanner{
            width: 110%;
            margin-left: -5%;
        }
        .Block{
            width: 100%;
            height: 72vw;
            svg{display: none;}
            h3{
                font-size: 8vw;
                text-transform:uppercase;
                font-weight: 800;
                margin: 0;
            }
            p{
                width: 90%;
                font-size: 3.7vw;
                line-height: 4.5vw;
                margin: 4vw 0;
            }
            h1{
                margin: 0;
                font-weight: 700;
                font-size: 4vw;
            }
        }
    }
}