#blog{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vw;
    padding: 3vw 0;
    .container{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        .Tt_Blog{
            svg{transform:scaleY(-1);
                g{
                   path{
                        fill:rgba(184, 204, 193, 1);
                   } 
                }
            }
            h2{
                font-size: 6vw;
            }
        }
        .blog_Block{
            display: flex;
            position: relative;
            justify-content: space-between;
            margin-top: 1vw;
            height: 39vw;
            .Simp_cards{
                display: flex;
                flex-direction: column;
                position: relative;
                width: 43%;
                height: 100%;
                a{
                    display: flex;
                    position: relative;
                    text-decoration: none;
                    color: $Brown;
                    height: 50%;  
                    .card_blog{
                        background-color: $Green_T;
                        display: flex;
                        position: relative;
                        border-radius: 2vw;
                        margin: 1vw 0;
                        padding: 1vw;
                        transition: ease-in-out 0.3s;
                        font-weight: 200;
                        &:hover{
                            transform: translateY(-0.5vw);
                        }
                        img{
                            border-radius: 2.3vw;
                            border-bottom-right-radius: 10vw;
                            width: 60%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .blog_infos{
                            width:40%;
                            display: flex;
                            position: relative;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            font-family: 'Raleway';
                            .titulo_blog{
                                display: flex;
                                width: 100%;
                                height: 65%;
                                justify-content: center;
                                align-items: center;
                                h3{
                                    font-size: 1.5vw;
                                    font-weight: 700;
                                    color: $Brown;
                                    text-align: center;
                                    margin:0 1vw 0 2VW;
                                }
                            }
                            i{
                                color: $Green;
                                font-size: 1.2vw;
                                margin-left: 0.5vw;
                            }
                            h4{
                                font-size: 1.1vw;
                                position: relative;
                                font-weight: 600;
                                margin: 0.3vw 1.5vw 0 2vw;
                                &::before{
                                    position: absolute;
                                    content: '';
                                    width: 0.65vw;
                                    height: 0.65vw;
                                    background-color: $Pink;
                                    top: 0.2vw;
                                    left: -1.3vw;
                                    transform: rotate(45deg);
                                }
                            }
                        }
                    }
                }
            }
            .Big_card{
                width: 55%;
                display: flex;
                position: relative;
                background-color: $Green_T;
                margin: 1vw 0;
                padding: 1vw;
                border-radius: 2vw;
                transition: ease-in-out 0.3s;
                &:hover{
                    transform: translateY(-0.5vw);
                }
                a{
                    display: flex;
                    position: relative;
                    flex-wrap: wrap;
                    text-decoration: none;
                    color: $Black;
                    font-family: 'Raleway';
                    color: $Brown;
                    h2{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        font-size: 1.5vw;
                        font-weight: 700;
                        max-width: 10vw;
                    }
                    img{
                        width: 75%;
                        height: 65%;
                        margin-left: auto;
                        border-radius: 2vw;
                        object-fit: cover;
                    }
                    .icons{
                        display: flex;
                        position: relative;
                        margin: 0;
                        margin-top: 2vw;
                        justify-content: space-between;
                        width: 100%;
                        font-weight: 500;
                        padding: 0 1vw;
                        i{
                            color: $Green;
                            font-size: 1.3vw;
                        }
                        h4{
                            position: relative;
                            font-size: 1vw;
                            margin-left: 0.4vw;
                            &::before{
                                position: absolute;
                                content: '';
                                width: 0.7vw;
                                height: 0.7vw;
                                background-color: $Pink;
                                top: 0.25vw;
                                left: -1.5vw;
                                transform: rotate(45deg);
                            }
                        }
                        p{
                            position: relative;
                            font-size: 0.9vw;
                            &::before{
                                position: absolute;
                                content: '';
                                width: 0.6vw;
                                height: 0.6vw;
                                background-color: $Pink;
                                top: 0.4vw;
                                left: -1.3vw;
                                transform: rotate(45deg);
                            }
                        }
                    }
                    .resume_txt{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: left;
                        width: 100%;
                        height: 20%;
                        padding: 1.5vw 2vw;
                        background-color: $White;
                        font-size: 1.1vw;
                        font-weight: 600;
                        border-radius: 1.5vw;
                        margin: 0;
                    }
                }
            }
        }
        .blogBT{
            margin: 1.5vw 2vw 0 auto;
            button{
                font-size: 1.3vw;
                color: $White;
                background-color: $Green;
                border-radius: 0.7vw;
                padding: 0.5vw 1.3vw;
            }
        }
    }
}
/* Wide Mobile = 480px */
@media only screen and (max-width: 767px){
    #blog{
        margin-bottom: 15vw;
        padding: 5vw 0;
        .container{
            .Tt_Blog{
                margin-bottom: 5vw;
                h2{
                    font-size: 13vw;
                    margin-top: 15vw;
                }
            }
            .blog_Block{
                height: auto;
                flex-wrap: wrap;
                .Simp_cards{
                    width: 100%;
                    height: 80vw;
                    a{
                        .card_blog{
                            border-radius: 3vw;
                            margin: 2vw 0;
                            padding: 2vw;
                            img{
                                border-radius: 2.5vw;
                                border-bottom-right-radius: 20vw;
                                width: 55%;
                            }
                            .blog_infos{
                                width:45%;
                                .titulo_blog{
                                    height: 80%;
                                    h3{
                                        font-size: 3vw;
                                        margin:0;
                                    }
                                }
                                i{
                                    font-size: 2.5vw;
                                    margin-left: 0;
                                }
                                h4{
                                    font-size: 2.5vw;
                                    margin: 0.5vw 0 0 3vw;
                                    &::before{
                                        width: 1.2vw;
                                        height: 1.2vw;
                                        top: 0.7vw;
                                        left: -2vw;
                                    }
                                }
                            }
                        }
                    }
                }
                .Big_card{
                    width: 100%;
                    height: 70vw;
                    padding: 2vw;
                    border-radius: 3vw;
                    a{
                        h2{
                            font-size: 3.2vw;
                            max-width: 20vw;
                        }
                        .icons{
                            i{ font-size: 2.8vw; }
                            h4{
                                font-size: 2.5vw;
                                margin-left: 0.4vw;
                                &::before{
                                    width: 1.2vw;
                                    height: 1.2vw;
                                    top: 1vw;
                                    left: -2vw;
                                }
                            }
                            p{
                                font-size: 2.3vw;
                                padding: 0;
                                &::before{
                                    width: 1.2vw;
                                    height: 1.2vw;
                                    top: 1vw;
                                    left: -2vw;
                                }
                            }
                        }
                        .resume_txt{
                            height: 22%;
                            padding: 3vw 7vw;
                            font-size: 2.5vw;
                            text-align: center;
                        }
                    }
                }
            }
            .blogBT{
                margin: 3vw 1.5vw 0 auto;
                button{
                    font-size: 3vw;
                    border-radius: 1vw;
                    padding: 0.8vw 1.5vw;
                }
            }
        }
    }
}