@font-face{
    font-family: "Alex_Letter";
    src:url(../fonts/Alexander_Lettering.otf);
}
/*font-family: "Alexander Lettering"*/

/*Base Colors*/
$Brown:#51403F;
$Green: #94A89D;
$Green_T: #D0D8CE;
$Pink: #DDB8B1;
$Black: #171A18;
$White:#F9F3F2;
/*Base Colors*/

/*Light n Shadows*/
$Brown_light: #735D5C;
$Brown_dark: #332322;

$Green_light: #B8CCC1;
$Green_dark: #678775;

$Green_T_light: #E3F2DF;
$Green_T_dark: #9DB897;

$Pink_light: #F2D4CE;
$Pink_dark: #BF8C82;

$White_light: #FFFFFF;
$White_dark: #EEE2DB;

$Black_light: #4B524E;
$Black_dark: #0A0D0B;
/*Light n Shadows*/