#contato{
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: $Brown;
    padding: 5vw 0;
    #vetorBrown{
        top: -22%;
        position: absolute;
    }
    .container{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        .Tl_cont{
            position: absolute;
            top: -40%;
            svg{transform:scale(-1, -1);
                g{
                   path{
                        fill:rgba(81, 64, 63, 1);
                        mix-blend-mode: multiply;
                        opacity: 0.4;
                   } 
                }
            }
            h2{
                font-size: 6vw;
            }
        }
        h3{
            font-family: 'Raleway';
            font-weight: 700;
            color: $Green_T;
            font-size: 2.2vw;
            margin-right: 11vw;
            margin-bottom: 1.5vw;
        }
        form{
            width: 55%;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: center;
            padding: 1vw 0;
            .BlockBox{
                width: 65%;
                position: relative;
                background-color: rgba(255, 255, 255, 0.2);
                margin: 0 0 2.2vw 0;
                border-radius: 0.8vw;
                input, textarea{
                    width: 95% !important; 
                    resize: none;
                    padding: 1vw 0;
                    margin-left: 0.8vw;
                    font-size: 1vw;
                    color: $White;
                    border: none;
                    background: none;
                    outline: none;   
                }
                textarea{
                    min-height: 9vw;
                }
                span{
                    font-family: 'Raleway';
                    position: absolute;
                    font-style: italic;
                    left: 1vw;
                    top: 0.75vw;
                    font-size: 1.2vw;
                    color: $Green_T;
                    transition: 0.5s;
                    pointer-events: none;
                }
            }
            .BlockBox input:focus ~ span, textarea:focus ~ span, input:valid ~ span, textarea:valid ~ span{
                transform:translate(-0.7vw, -2.3vw);
                font-size: 1.1vw;
                color:$Green;
            }
        }
        .Bt_cont{ 
            position: absolute;
            left: 40%;
            bottom: 0;
            #btn-enviar-contato{
                font-size: 1.5vw;
                font-family:"Raleway";
                color: $Brown;
                background-color: $White;
                padding: 0.5vw 2vw;
                border-radius: 0.5vw;
                
            }
        }
    }
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px){
    #contato{
        padding: 6.5vw 0;
        margin: 20vw 0 0 0;
        #vetorBrown{
            top: -10%;
        }
        .container{
            justify-content: center;
            .Tl_cont{top: -30%;h2{font-size: 15vw; margin-top: 4vw;}}
            h3{
                font-size: 5vw;
                margin: 0;
            }
            form{
                width: 100%;
                padding: 4vw 0;
                margin: 3.5vw 0;
                .BlockBox{
                    width: 75%;
                    margin: 0 0 5vw 0;
                    border-radius: 1.5vw;
                    input, textarea{
                        padding: 2vw 0;
                        margin-left: 1.8vw;
                        font-size: 3vw;
                    }
                    textarea{
                        min-height: 20vw;
                    }
                    span{
                        left: 2vw;
                        top: 1.8vw;
                        font-size: 3.2vw;
                    }
                }
                .BlockBox input:focus ~ span, textarea:focus ~ span, input:valid ~ span, textarea:valid ~ span{
                    transform:translate(-1vw, -5.9vw);
                    font-size: 2.9vw;
                }
            }        
            .Bt_cont{ 
                position: absolute;
                left: 40%;
                bottom: 0;
                #btn-enviar-contato{
                    font-size: 4vw;
                    padding: 0.5vw 2.5vw;
                    border-radius: 2vw; 
                }
            }
        }
    }
}