.head{
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100%;
    .navbar{
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        .nav_contato{
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 0;
            background: $Brown;
            transition: 0.3s ease-in-out;
            img{
                position: absolute;
                top: 0;
            }
            .cont_contato{
                display: flex;
                position: relative;
                .nav_email{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $White;
                    font-size: 1vw;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    padding: 0.25vw 0;
                    i{
                        font-size: 1.3vw;
                        padding: 0.5vw;
                    }
                    a{
                        color: $White;
                        text-decoration: none;
                    }
                }
                .nav_redes{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: auto;
                    .login{
                        color: $White;
                        font-size: 1vw;
                        text-decoration: none;
                        font-weight: 700;
                        padding-right: 0.3vw;
                    }
                    i{
                        font-size: 1.25vw;
                        color: $White;
                        padding: 0 0.4vw;
                        &:hover{
                            color: $Green;
                        }
                    }
                }
            }
        }
        .nav_contato.actived{
            margin-top: -5vw;
        }
        .nav_menu{
            width: 100%;
            background: $White;
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
            .cont_menu{
                display: flex;
                position: relative;
                align-items: center;
                #logo{
                    width: 42%;
                    margin-left: 1vw;
                    padding: 0.5vw;
                    transition: 0.3s ease-in-out;
                }
                #logo.actived{
                    margin-left: -1vw;
                    width: 35%;
                    padding: 0.2vw;
                }
                .menu_box{
                    display: flex;
                    position: relative;
                    text-decoration: none;
                    list-style: none;
                    margin: 0 0.8vw 0 auto;
                    transition: 0.3s ease-in-out; 
                    li{
                        display: flex;
                        position: relative;
                        margin: 0.5vw;
                        font-family: 'Raleway', sans-serif;
                        font-weight: 700;
                        font-size: 1.1vw;
                        transition: 0.5s ease-in-out;
                        a{
                            padding: 0.5vw;
                            color: $Brown;
                            text-decoration: none;
                        }
                        ::after{
                            display: block;
                            content: '';
                            width: 80%;
                            height: 0;
                            background-color: $Brown;
                            position: absolute;
                            bottom: -1.3vw;
                            left:10%;
                            border-radius: 4vw;
                            transition: 0.3s ease;
                        }
                        &:hover{
                            a{color: $Black;}
                            ::after{
                                height: 0.3vw;
                                bottom: -0.4vw;
                            }
                        }
                    }
                }
                .menu_box.actived{
                    margin-right: -1vw;
                }
                .Menu_Mobile{
                    position: absolute;
                    color: $Brown;
                    padding: 2vw;
                    font-size: 1.3vw;
                    right: 0;
                    top: -8vw;
                }
            }
        }
    }
}
/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .head{
        .navbar{
            .nav_contato{    
                .cont_contato{
                    .nav_email{
                        font-size: 1.4vw;
                        padding: 0.3vw 0;
                        i{font-size: 1.7vw;}
                    }
                    .nav_redes{
                        .login{
                            font-size: 1.5vw;
                            padding-right: 0.3vw;
                            margin-left: 1vw;
                        }
                        i{
                            font-size: 1.7vw;
                        }
                    }
                }
            }
            .nav_menu{
                .cont_menu{
                    #logo.actived{
                        margin-left: -0.2vw;
                        width: 38%;
                        padding: 0.2vw;
                    }
                    .menu_box{
                        margin: 0 2vw 0 auto;
                        li{
                            font-size: 1.5vw;
                            a{padding: 1vw;}
                            ::after{ display: none;}
                        }
                    }
                    .menu_box.actived{
                        margin-right: 1vw;
                        li{
                            font-size: 1.4vw;
                        }
                    }
                    .Menu_Mobile{
                        position: absolute;
                        color: $Brown;
                        padding: 2vw;
                        font-size: 1.3vw;
                        right: 0;
                        top: -8vw;
                    }
                }
            }
        }
    }
}
/* Wide Mobile = 480px */
@media only screen and (max-width: 767px){	
    .head{
        .navbar{
            .nav_contato{
                img{width: 250%;}
                .cont_contato{
                    .nav_email{
                        i{font-size: 4.5vw;padding: 0 2vw 0 0;}
                        a{font-size: 3vw;}
                    }
                    .nav_redes{
                        .login{
                            margin: -0.5vw 0 0 0.5vw;
                            padding-right: 0.3vw;
                            i{
                                font-size: 4vw;
                                padding: 0.5vw;
                            }
                            span{
                                display: none;
                            }
                        }
                        i{font-size: 4.5vw; padding:2vw;}
                    }
                }
            }
            .nav_contato.actived{margin-top: -10vw;}
            .nav_menu{
                .cont_menu{
                    flex-wrap: wrap;
                    a{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                    #logo{
                        width: 72%;
                        margin:1.5vw 0;
                        padding: 0 1vw;
                        transition: 0.3s ease-in-out;
                    }
                    #logo.actived{
                        margin-left: 0;
                        width: 60%;
                        padding: 0.5vw 1vw;
                    }
                    .menu_box{
                        position: absolute;
                        width: 100%;
                        margin: 0vw;
                        bottom: 25vw;
                        justify-content: center;
                        transition: none;
                        margin: 1.5vw 0;
                        li{
                            font-size: 4vw;
                            a{
                                padding: 1.5vw 3.5vw;
                            }
                            ::after{
                                display: none;
                            }
                        }
                    }
                    .menu_box.actived{  
                        margin-right: 0;
                        li{
                            font-size: 3.5vw;
                        }
                    }
                    .menu_box.act{
                        bottom: 0;
                        position: relative;
                    }
                    .Menu_Mobile{
                        position: absolute;
                        color: $Brown;
                        padding: 2.5vw;
                        font-size: 7vw;
                        right: 1.5vw;
                        top: 3vw;
                        transition: 0.2s;
                    }
                    .Menu_Mobile.actived{
                        font-size: 6.5vw;
                        top: 2.5vw;
                    }
                }
            }
        }
    }
}