#newsletter{
    width: 100%;
    display: flex;
    position: relative;
    background-color: $Green_T;
    padding: 4vw 0;
    .container{
        display: flex;
        position: relative;
        flex-direction: column;
        p{
            font-family: 'Raleway';
            font-weight: 600;
            font-size: 1.3vw;
            margin-left: 6vw;
        }
        form{
            display: flex;
            position: relative;
            padding: 1vw 0;
            margin: -1vw 0 0 8vw;
            .Box_News{
                width: 35%;
                position: relative;
                background-color: rgba(148, 168, 157, 0.6);
                margin: 1vw 1.5vw;
                border-radius: 1vw;
                input{
                    width: 95% !important; 
                    resize: none;
                    padding: 1vw 0;
                    margin-left: 0.8vw;
                    font-size: 1vw;
                    color: $Black;
                    border: none;
                    background: none;
                    outline: none;  
                }
                span{
                    font-family: 'Raleway';
                    position: absolute;
                    font-style: italic;
                    left: 1vw;
                    top: 0.8vw;
                    font-size: 1.2vw;
                    color: $Black;
                    transition: 0.5s;
                    pointer-events: none;
                }
            }
            .Box_News input:focus ~ span, input:valid ~ span{
                transform:translate(-0.5vw, -2.4vw);
                font-size: 1.1vw;
                color:$Brown;
                font-weight: 600
            }
        }
        .Bt_news{ 
            position: absolute;
            right: 8vw;
            top: 2.1vw;
            #btn-enviar-EmailNews{
                font-size: 1.5vw;
                font-family:"Raleway";
                color: $White;
                background-color: $Brown;
                padding: 0.5vw 1.5vw;
                border-radius: 0.5vw; 
            }
        }
    }
}
/* Wide Mobile = 480px */
@media only screen and (max-width: 767px){
    #newsletter{
        padding: 8vw 0 16vw 0;
        .container{
            justify-content: center;
            p{
                margin:0 0 3vw 0;
                font-size: 3.5vw;
                text-align: center;
            }
            form{
                padding: 0;
                margin: 0;
                flex-wrap: wrap;
                justify-content: center;
                .Box_News{
                    width: 70%;
                    border-radius: 2vw;
                    margin: 2vw 0;
                    input{
                        padding: 2vw 0;
                        margin-left: 1.8vw;
                        font-size: 3vw;
                    }
                    span{
                        left: 2vw;
                        top: 1.8vw;
                        font-size: 3.2vw;
                    }
                }
                .Box_News input:focus ~ span, input:valid ~ span{
                    transform:translate(-1vw, -5.9vw);
                    font-size: 2.9vw;
                }
            }
            .Bt_news{ 
                left: 40.5%;
                top: 105%;
                #btn-enviar-EmailNews{
                    font-size: 4vw;
                    padding: 0.5vw 2.5vw;
                    border-radius: 2vw;  
                }
            }
        }
    }
}