#header_text{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8vw;
    padding: 6.5vw 0 0 0;
    border-bottom: 0.5vw solid $Brown;
    .container{
        display: flex;
        position: relative;
        font-family: 'Raleway';
        flex-wrap: wrap;
        align-items: center;
        padding: 0 ;
        p, i, span, h3{
            margin: 0;
            padding: 0;
            color: $Brown_dark;
        }
        h1{
            width: 100%;
            font-weight: 700;
            font-size: 2.8vw;
            padding: 1vw 0 1.5vw 0;
            color: $Brown;
        }
        i{
            font-size: 1.2vw;
            color: $Green;
            padding: 0.5vw 0.8vw 0.5vw 2.5vw;
        }
        :nth-child(3){margin-left: -1.5vw;}
        :nth-child(8){margin-left: auto;}
        p{font-size: 1vw;}
        h3{font-size: 1vw;font-weight: 700;}
        span{font-weight: 700;}
    }
}
#article_Post{
    width: 100%;
    .container{
        display: flex;
        padding: 0;
        margin-bottom: 7vw;
        
        .Text_Prin{
            width: 70%;
            color: $Black;
            display: flex;
            position: relative;
            flex-direction: column;
            font-family: 'Raleway';
            align-items: center;
            #img_post{
                width: 100%;
                height: 42vw !important;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-bottom-right-radius: 3vw;
                    border-bottom-left-radius: 3vw;
                }
            }
            article{
                margin: 0;
                padding: 4vw 5vw 6vw 5vw;
                color: $Brown;
                font-weight: 600;
                img, svg{
                    width: auto;
                }
            }
            .fontes{
                width: 100%;
                h2{
                    font-size: 2.5vw;
                    font-weight: 800;
                }
                p{
                    font-size: 1.1vw;
                    font-style: italic;
                    padding: 0 8vw 0 2.5vw;
                    margin: 1vw 0;
                    border-radius: 0;
                }
            }
        }
        .Pages_links{
            width: 30%;
            height: 45vw;
            background-color: $Green_T;
            padding: 3vw;
            border-bottom-left-radius: 2.5vw;
            border-bottom-right-radius: 2.5vw;
            font-family: 'Raleway';
            color: $Brown;
            position: relative;
            h3{
                font-size: 1.7vw;
                font-weight: 900;
            }
            ul{
                display: flex;
                position: relative;
                flex-direction: column;
                margin: 0.6vw 0 4vw 0;
                a{
                    position: relative;
                    margin: 0.1vw 1vw 0.1vw 2.5vw;
                    padding: 0.8vw 0;
                    color: $Brown;
                    text-decoration: none;
                    li{
                        list-style: none;
                        font-size: 1vw;
                        font-weight: 500;
                    }
                    ::after{
                        content: '';
                        position: absolute;
                        display: block;
                        background-color: $Pink;
                        width: 8%;
                        height: 0.35vw;
                        border-radius: 0.5vw;
                        top: 45%;
                        left: -13%;
                        transition: 0.3s ease-in;
                    }
                    &:hover{
                        ::after{
                            top: 40%;
                            border-radius: 0;
                            width: 4.5%;
                            height: 24%;
                            left: -10%;
                            transform: rotate(45deg);
                        }
                    }
                }
            }
            h4{
                display: flex;
                align-items: center;
                position: absolute;
                font-size: 1vw;
                font-weight: 700;
                bottom: -2.5vw;
                i{
                    margin-right: 1vw;
                    font-size: 1.5vw;
                }
            }
        }
    }
}
#likes{
    width: 100%;
    .container{
        display: flex;
        align-items: center;
        h3{
            color: $Brown;
            font-size: 1.1vw;
            font-weight: 600;
        }
        form{
            .LikeBtn{
                border: none;
                outline: none;
                margin: 0;
                margin-top: -0.3vw;
                padding: 0.5vw;
                i{
                    color: $Green;
                    font-size: 1.2vw;
                }
                span{
                    font-weight: 600;
                    color: $Brown;
                    font-size: 1.2vw;
                    margin-left: 0.5vw;
                }
            }
            .LikeBtn.active{
                outline: none;
                i{
                    color: $Pink;
                    font-size: 1.2vw;
                }

            }
        }
    }
}
#comments{
    width: 100%;
    font-family: 'Raleway';
    margin: 2vw 0 5vw 0;
    .container{
        display: flex;
        flex-direction: column;
        padding: 0;
        .chama_coment{
            padding: 0.5vw;
            p{
                font-size: 1.1vw;
                font-weight: 600;
                color: $Brown;
                a{
                    color: $Green_dark;
                    font-weight: 700;
                }
            }
            
        }
        .comments_cont{
            font-family: 'Raleway';
            h3{
                padding: 1vw;
                font-size: 1.5vw;
                color: $Brown;
                font-weight: 800;
            }
            .commentsBk{
                position: relative;
                padding: 0.5vw;
                display: flex;
                flex-direction: column;
                margin-left: 1vw;
                .comentario{
                    position: relative;
                    margin: 0.5vw 0;
                    a{
                        text-decoration: none;
                        .imgUser{
                            position: absolute;
                            width: 3.5vw;
                            height: 3.5vw;
                            left: 0.5vw;
                            top: 0.5vw;
                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                        .NomeUser{
                            color: $Brown;
                            font-size: 1.2vw;
                            margin: 1.3vw 0 0 5vw;
                            font-weight: 700;
                            span{
                                font-size: 0.9vw;
                                font-weight: 500;
                                margin: -1vw 0 0 0.5vw
                            }
                        }
                    }
                    
                    .textUser{
                        font-size: 1vw;
                        font-weight: 500;
                        color: $Brown;
                        margin-left: 5.5vw;
                    }
                    .delet_Comment{
                        position: absolute;
                        left: -1vw;
                        top: 0.5vw;
                    }
                }
            }
        }
        .comments_msg{
            padding: 0.5vw;
            position: relative;
            .form-group{
                color: $Brown;
                label{
                    font-size: 1.1vw;
                    font-weight: 500;
                }
                textarea{
                    border: none;
                    background: $Green_T;
                    max-width: 50vw;
                    height: 15vh;
                    max-height: 100vh;
                    margin: 1vw;
                }
            }
            button{
                position: absolute;
                right: 26vw;
                top: 7vw;
                border: none;
                background-color: $Brown;
                color: $White;
                font-size: 0.9vw;
                font-weight: 600;
            }
        }
    }
}
#recomend{
    width: 100%;
    display: flex;
    padding: 2vw 0;
    margin-bottom: 5vw;
    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 7.8vw;
        background-color: $Pink;
        opacity: 0.6;
    }
    .container{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1vw 0;
        font-family: 'Raleway';
        h3{
            color: $Brown;
            font-weight: 800;
            width: 30%;
            font-size: 2.8vw;
            padding: 0 5vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            span{font-size: 1.6vw;}
        }
        .Cards_Post{
            width: 100%;
            display: flex;
            position: relative;
            flex-wrap: wrap;
            margin: 5vw 0 1vw 0;
            justify-content: space-around;
            a{
                width: 30%;
                height: 22vw;
                color: $Black;
                text-decoration: none;
                .card_blog{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    position: relative;
                    flex-wrap: wrap;
                    background-color: $Green_T;
                    padding: 1vw;
                    border-radius: 1vw;
                    font-family: 'Raleway';
                    transition: 0.3s ease-in-out;
                    &:hover{
                        transform: translateY(-0.6vw);
                    }
                    #img{
                        width: 100%;
                        height: 72%;
                        img{
                            border-radius: 1vw;
                            width:100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .tag{
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 10%;
                        margin-top: 0.5vw;
                        p{
                            margin: 0;
                            font-size: 0.9vw;
                            font-weight: 700;
                            background-color: $Pink;
                            padding: 0.15vw 0.6vw;
                            border-radius: 1vw;
                            color: $Brown;
                        }
                    }
                    .title_blog{
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 15%;
                        padding: 0.5vw;
                        margin-top: 0.5vw;
                        h4{
                            font-weight: 700;
                            text-align: center;
                            margin: 0;
                            font-size: 1.1vw;
                            padding: 0 3vw;
                        }
                    }
                }
            }
        }
    }
}

/* Wide Mobile = 480px */
@media only screen and (max-width: 767px){  
    #header_text{
        margin-top: 30vw;
        padding: 5vw 0 0 0;
        border-bottom: 1vw solid $Brown;
        .container{
            h1{
                font-size: 5vw;
                padding: 1vw 0 2.5vw 0;
            }
            i{
                font-size: 2.5vw;
                padding: 0.5vw 1vw 1vw 2.5vw;
            }
            :nth-child(3){margin-left: -1.5vw;}
            p{font-size: 2.2vw;}
            h3{font-size: 2.5vw;}
        }
    }
    #article_Post{
        overflow: hidden;
        .container{
            display: flex;
            padding-bottom: 70vw;
            margin-bottom: 0;
            flex-wrap: wrap;
            .Text_Prin{
                width: 100%;
                #img_post{
                    width: 100%;
                    height: 70vw !important;
                    img{
                        border-bottom-right-radius: 5vw;
                        border-bottom-left-radius: 5vw;
                    }
                }
                article{
                    margin: 0;
                    padding: 5vw 4vw;
                    font-size: 2.5vw;
                    line-height: 3.5vw;
                }
                .fontes{
                    h2{
                        font-size: 4.5vw;
                    }
                    p{
                        font-size: 2.5vw;
                        padding: 1vw 8vw 0 3vw;
                    }
                }
            }
            .Pages_links{
                position: absolute;
                bottom: 0;
                left: -5%;
                width: 110%;
                height: 60vw;
                padding: 4vw;
                border-radius: 0;
                display: flex;
                justify-content: space-around;
                h3{font-size:5vw;}
                ul{
                    position: absolute;
                    margin: 8vw 0 0 0;
                    left: 14%;
                    a{
                        margin: 0.5vw 0;
                        padding: 2vw;
                        li{font-size: 2.5vw;}
                        ::after{display: none;}
                    }
                }
                #mobile{left: 54%;}
            }
        }
    }
    #comments{
        margin: 5vw;
        .container{
            .chama_coment{
                width: 100%;
                padding: 1vw;
                p{
                    padding: 0 5vw;
                    font-size: 3vw;
                    text-align: center;
                    a{
                        font-size: 3.2vw;
                        padding: 0.5vw;
                    }
                }    
            }
            .comments_cont{
                h3{
                    padding: 0;
                    font-size: 4vw;
                }
                .commentsBk{
                    padding: 1vw;
                    margin-left: 2vw;
                    .comentario{
                        margin: 1vw 0;
                        .imgUser{
                            width: 7vw;
                            height: 7vw;
                            left: 1vw;
                            top: 1vw;
                        }
                        .NomeUser{
                            font-size: 3vw;
                            margin: 2vw 0 0 10vw;
                            span{
                                font-size: 2vw;
                                margin: -3vw 0 0 1vw
                            }
                        }
                        .textUser{
                            font-size: 2.5vw;
                            margin-left: 12vw;
                            margin-top: 1vw;
                        }
                        .delet_Comment{
                            position: absolute;
                            left: -4vw;
                            top: 1vw;
                            font-size: 3vw;
                        }
                    }
                }
            }
            .comments_msg{
                padding: 1vw;
                margin-bottom: 10vw;
                .form-group{
                    label{
                        font-size: 3vw;
                    }
                    textarea{
                        max-width: 100%;
                        height: 18vh;
                        max-height: 100vh;
                        margin: 1vw 2vw;
                    }
                }
                button{
                    position: absolute;
                    right: 42%;
                    top: 25vh;
                    font-size: 3vw;
                    font-weight: 600;
                }
            }
        }
    }
    #recomend{
        margin: 0;
        padding: 2vw 0;
        margin-bottom: 5vw;
        &::before{
            position: absolute;
            content: '';
            width: 100%;
            height: 15vw;
        }
        .container{
            h3{
                width:auto;
                font-size: 5.5vw;
                padding: 0 3vw;
                margin-top: 1vw;
                span{font-size: 3.5vw;}
            }
            .Cards_Post{
                margin: 7vw 0 1vw 0;
                a{
                    width: 85%;
                    height: 65vw;
                    margin: 3.5vw 0;
                    .card_blog{
                        padding: 2.5vw;
                        border-radius: 3vw;
                        transition: none;
                        #img{img{border-radius: 3vw;}}
                        .tag{margin-top: 1.5vw;
                            p{
                                font-size: 2.5vw;
                                padding: 0.3vw 1.5vw;
                            }
                        }
                        .title_blog{
                            display: flex;
                            position: relative;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 15%;
                            padding: 0.5vw;
                            margin-top: 1.5vw;
                            h4{
                                font-size: 3.5vw;
                                padding: 0 10vw;
                            }
                        }
                    }
                }
            }
        }
    }
}